* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
#app {
    height:100%;
}
.container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height:100%;
}
.wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    padding: 1rem;
}